.page {
  background-color: #38726C;
  min-height: 100vh;
  font-family: "Trebuchet MS", sans-serif;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Trebuchet MS", sans-serif;
}
