.profile {
  display: flex;
  padding: 34px 0;
}

.profile__avatar {
  margin-right: 20px;
  height: 500px;
  width: 754.58px;
  border-radius: 10px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1; /*set to whatever font size is*/
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  /* text-overflow: ellipsis;
  overflow: hidden; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin-top: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: 400;
  background-color: #e06567;
  color: black;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-touch-callout: none; /* Prevents the callout menu */
  -webkit-user-modify: read-only; /* Prevents link styling */
}

.profile__add-button {
  margin-left: auto;
}

.gorgeous {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  color: #e06567;
  animation: fadeMove 4s ease-out forwards;
  font-family: "Trebuchet MS", sans-serif;
}

@keyframes fadeMove {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    height: 125px;
    width: 188px;
    margin-right: 0;
    margin-bottom: 12px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 16px;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
